rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 1v1 Battle xonalari har qanday o'yinchi (mehmon va ro'yxatdan o'tgan) uchun ochiq
    match /battle_rooms/{roomId} {
      allow read, write: if true;
    }

    // Koinot Jangi (Space Shooter) peshqadamlar jadvali
    match /space_scores/{scoreId} {
      allow read, write: if true;
    }

    match /users/{userId} {
      allow read, write: if true;
    }

    match /test_results/{resultId} {
      allow read, write: if true;
    }

    match /{document=**} {
      allow read, write: if true;
    }
  }
}
